.full-page {
    width: 1280px;
    margin: 0 auto;
    font-family: MyriadPro-Regular, Helvetica, sans-serif;
}
.header {
    display: inline-block;
    font-size: 40px;
    text-align: left;
    margin-bottom: 21px;
    margin-top: 31px;
}
.header-link-blue {
    color: deepskyblue;
    margin-left: -0.03em;
    text-decoration: none;
}
.header-link-black {
    color: black;
    text-decoration: none;
}
.navbar {
    text-align: center;
    background-color: #35444F;
}
.navbar-item {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: inline-block;
}
.navbar-link {
    color: #F7F7F7;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 15px 20px;
}
.navbar-item:hover {
    background-color: #222F3A;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.menu-left-logo {
   padding: 30px 0;
}
.menu-left {
    vertical-align: top;
    list-style: none;
    border: 1px solid black;
    display: inline-block;
}
.menu-left-item {
    padding: 20px 110px 20px 20px;
}
.menu-left-link {
    display: block;
    transition: .7s;
    color: #485863;
    text-decoration: none;
}
.menu-left-item:hover {
    background-color: lightgray;
}
.menu-left-item:hover .menu-left-link {
    transform: translateX(20px);
    color: black;
}
.logo {
    border: 1px solid black;
    padding: 50px 320px;
    margin-left: 50px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
.logo-bigger {
    transition-duration: 3s;
    display: block;
}
.logo-bigger:hover {
    transform: scale(1.2);
}
.content {
    padding-left: 400px;
    text-align: left;
}
.footer {
    background-color: #B4B7BA;
    padding: 20px;
    margin-top: 20px;
}
.footer-menu {
    display: inline-block;
}
.footer-menu-item {
    display: inline-block;
}
.footer-menu-link {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.footer-menu-link:hover {
    text-decoration: underline;
    color: #3181A6;
}
.footer-menu-text {
    display: inline-block;
    padding-left: 550px;
}